.main-title {
  text-align: center;
}

.wpt-chart {
  margin: auto;
  width: 75%;
}

.actions-bar {
  width: 100%;
  height: 75px;
  text-align:center;
}

.date-picker {
  display: inline-block;
}

.date-picker:first-child {
  margin-right: 25px;
}

.wpt-resultsList {
  margin: 50px auto 25px auto;
  text-align: center;
  list-style-type: none;
}
